@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,600,700,300,800);


/*************************
*******Typography******
**************************/

body {
  background: #fff;
  font-family:'Open Sans', Arial, sans-serif;
  color:#333;
  line-height:1.6em;
}
h1,h2,h3,h4,h5,h6{font-weight:500;font-family:'Open Sans',Arial,sans-serif;color:#333}h1{font-size:36px;color:#fff}h2{font-size:20px}h3{font-size:16px;color:#787878;font-weight:400;line-height:24px}h4{font-size:16px}

.center h2{
  font-size: 36px;
  margin-top: 0;
  margin-bottom: 20px;
}

.media>.pull-left{
  margin-right: 20px;
}

.media>.pull-right{
  margin-left: 20px;
}

body > section {
  padding: 70px 0;
}

.center {
  text-align: center;
  padding-bottom: 55px;
}

.scaleIn {
  -webkit-animation-name: scaleIn;
  animation-name: scaleIn;
}


/* ======== Service ========== */
#services {
  background: #000 url(../images/services/bg_services.jpg);
  background-size: cover;
  padding-top: 80px; 
}

#services .lead,
#services h2{
  color: #fff;
}

.services-wrap {
  padding: 40px 30px;
  background: #fff;
  border-radius: 4px;
  margin: 0 0 40px;
}

.services-wrap h3 {
  font-size: 20px;
  margin: 10px 0;
}

.services-wrap .pull-left {
  margin-right: 20px;
}

#middle {
  background: #fff;
  margin-top:-90px;
}

.skill h2{
  margin-bottom: 25px;
}


/* ======== FOOTER ========== */


#footer {
  padding-top: 30px;
  padding-bottom: 30px;
  color: #fff;
  background: #000;
}

#footer a {
  color: #fff;
}

#footer a:hover {
  color: #E8CE0E;
}

#footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer ul > li {
  display: inline-block;
  margin-left: 15px;
}






